/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.6s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
}


/*==========================================*/
* {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: right;
  padding-right: 20px;
}

.container-flex {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin: 5px;
}

#about {
  text-align: center;
}

#about-text {
  margin: 25px 170px;
}

#menu-button {
  background:none;
  position: absolute;
  top:0;
  left:0;
  line-height:65px;
  padding:5px 15px 5px 15px;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:1;
}

#navbar {
  width: 30%;
}

#navbar,ul,li,a {
  color: black;
  list-style-type: none;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

#navbar,ul {
  padding: 0;
}

#content {
  flex: 1;
  height: 50px;
  border: 1px dotted black;
}
